
//Colors
$primary: #3891eb;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$aside:  #3F51B5;

$login: #5e72e4;
$login-hover: #324CDD;

$radius-color: #ededed;

$add-button: #05b41c;
$add-button-hover: #46a049;